# Dependencies
/node_modules

# Backend Dependencies
/backend/node_modules

# Environment variables
.env
backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/build
/dist

# Ignore the QR image
public/qr.jpeg
